<!DOCTYPE html>
<html>

<head>
    <!-- 
FAZER ESTE CURSO:
https://www.youtube.com/results?search_query=vue+cli
https://www.youtube.com/watch?v=Fed6lw1iLOc&list=PLswa9HeoJUq-EmjITDTDuH4Dy5OCqcTSn -->


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
    </script>
    <style>
        .gray {
            background-color: gray;
        }

        .red {
            background-color: red;
        }

        .blue {
            background-color: blue;
        }
    </style>


</head>

<body>

    <div class="container">
        <div class="container text-center" id="app">
            {{message}}
        </div>

        <div id="app-2">
            <span v-bind:title="message">
                Hover your mouse over me for a few seconds
                to see my dynamically bound title!
            </span>
        </div>
        <br>
        <div id="app-3">
            <span v-if="mostrar">Estou sendo visto</span>
        </div>
        <br>
        <div id="app-4">
            <ol>
                <li v-for="todo in todos">
                    {{ todo.text }}
                </li>
            </ol>
        </div>
        <br>
        <div id="app-5">
            <h4>{{titulo}}</h4>
            <input type="text" v-model="titulo">
            <button v-on:click="reverseMessage" class="btn btn-primary">Atualizar</button>
            <button class="btn btn-danger" v-on:click="resetMessage">Limpar</button>
        </div>
        <br>
        <br>
    </div>
    <div class="container">
        <div class="row">
            <label>Mudando classe CSS dinamicamente</label>
            <div id="appChangeCssClassDynmanic">
                <small>Exemplo usando event target value</small>
                <input type="text" v-on:input="myClass = $event.target.value">
                <br>
                <br>
                <small>Exemplo usando V-Model</small>
                <input type="text" v-model="otherClass">
                <p v-bind:class="myClass"> Classe CSS: {{myClass}}</p>
                <p v-bind:class="otherClass"> Classe CSS: {{otherClass}}</p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <label>Aplicando Filtros</label>
            <div id="applyFilters">
                <input type="text" v-model="novoNome">
                <button @click.prevent="adicionarNome">Adicionar +</button>
                <br>
                <ul>
                    <li v-for="nome in nomes">{{nome | capitalizar}}</li>
                </ul>
                <br>
                <br>
                <small>Lista de Países</small>
                <ul>
                    <li v-for="(pais, indice) in paises">{{pais.nome}} ---> {{indice}} -> {{pais.gdp}}</li>
                </ul>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'hello vue!!!!!'
        }
    })

    var app2 = new Vue({
        el: '#app-2',
        data: {
            message: 'You loaded this page on ' + new Date().toLocaleString()
        }
    })

    var app3 = new Vue({
        el: '#app-3',
        data: {
            mostrar: true
        }
    })

    var app4 = new Vue({
        el: '#app-4',
        data: {
            todos: [{
                    text: 'Learn JavaScript'
                },
                {
                    text: 'Learn Vue'
                },
                {
                    text: 'Build something awesome'
                }
            ]
        }
    })

    var app5 = new Vue({
        el: '#app-5',
        data: {
            titulo: 'quele cabeça dura',
        },
        methods: {
            reverseMessage: function () {
                this.titulo = this.titulo.split(' ').reverse().join(' ')
            },
            resetMessage: function () {
                this.titulo = "";
            }
        }
    })

    var appUdemy = new Vue({
        el: '#appChangeCssClassDynmanic',
        data: {
            myClass: '',
            otherClass: ''
        }
    });

    var appUdemy2 = new Vue({
        el: '#applyFilters',
        data: {
            novoNome: '',
            nomes: [],
            paises: [{
                    nome: 'Brazil',
                    gdp: 1
                },
                {
                    nome: 'Japão',
                    gdp: 20
                },
                {
                    nome: 'Venezuaela',
                    gdp: 30
                },
                {
                    nome: 'Estados Unidos',
                    gdp: 40
                }
            ]
        },
        methods: {
            adicionarNome() {
                this.nomes.push(this.novoNome);
                this.novoNome = '';
            }
        },
        filters: {
            capitalizar: function (value) {
                return value.toUpperCase();
            }
        }
    });
</script>

</html>